@model ProjectClient.Models.BookModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div class="border p-3">

    <h4>Book</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            <strong>@Html.DisplayNameFor(model => model.BookId)</strong>
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BookId)
        </dd>
        <dt class="col-sm-2">
            <strong>@Html.DisplayNameFor(model => model.Title)</strong>
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class="col-sm-2">
            <strong>@Html.DisplayNameFor(model => model.Description)</strong>
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class="col-sm-2">
            <strong>@Html.DisplayNameFor(model => model.Author)</strong>
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Author)
        </dd>
    </dl>
</div>

<div class="text-center mt-3">
    @Html.ActionLink("Edit", "Edit", new { id = Model.BookId }, new { @class = "btn btn-info" }) |
    <a asp-action="RestApi" class="btn btn-secondary">Back to List</a>
</div>
